header {
  background: #4A90E2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin: 20px 42px;
}

header .perfil {
  margin: 20px 42px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
}

.card {
  margin: 20px auto;
  background: #FFF;
  max-width: 700px;
  border-radius: 4px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.user .ownerAvatar {
  border-radius: 50%;
  width: 42px;
  margin-right: 10px;
}

.user .info {
  display: flex;
  flex-direction: column;
}

.user .info strong {
  font-size: 15px;
}

.user .info span {
  font-size: 12px;
}